header.header-main {
  position: relative;
  z-index: 9;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 10vh;
}
.header-top {
  background: #2f4963;
  background: -moz-linear-gradient(top, #2f4963 0%, #1e344b 100%);
  background: -webkit-linear-gradient(top, #2f4963 0%, #1e344b 100%);
  background: linear-gradient(to bottom, #2f4963 0%, #1e344b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f4963', endColorstr='#1e344b',GradientType=0 );
  padding: 20px 30px;
    height: 100%;
}
.left-part-text {
  width: 79%;
}
.blocks-one-side-left {
  width: 90%;
}
.blocks-one-side-left {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.blocks-one-side-left span.text-left {
  color: #fff;
  font-size: 24px;
}
.blocks-one-side-left span.text-right {
  color: #edd6af;
  font-size: 24px;
}
.blocks-one-side-left .countdown span.text-right {
  color: #fd0000;
}
.btn-theme {
  background: rgb(233,214,186);
  background: -moz-linear-gradient(top,  rgba(233,214,186,1) 0%, rgba(205,181,143,1) 52%, rgba(225,207,179,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(233,214,186,1) 0%,rgba(205,181,143,1) 52%,rgba(225,207,179,1) 100%);
  background: linear-gradient(to bottom,  rgba(233,214,186,1) 0%,rgba(205,181,143,1) 52%,rgba(225,207,179,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9d6ba', endColorstr='#e1cfb3',GradientType=0 );
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial,
    sans-serif;
  min-height: 43px;
  line-height: 43px;
  outline: 0;
  overflow: hidden;
  padding: 0 22px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 100%;
  z-index: 9;
  border: 0;
  border-bottom: 3px solid #c5a679;
  transition: box-shadow 0.2s;
  transition: border-bottom 0.2s;
  text-shadow: 1px 1px 4px #372004;
}

.btn-theme:hover {
  background: rgb(236,246,253);
  background: -moz-linear-gradient(top,  rgba(236,246,253,1) 0%, rgba(183,207,230,1) 52%, rgba(218,234,251,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(236,246,253,1) 0%,rgba(183,207,230,1) 52%,rgba(218,234,251,1) 100%);
  background: linear-gradient(to bottom,  rgba(236,246,253,1) 0%,rgba(183,207,230,1) 52%,rgba(218,234,251,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecf6fd', endColorstr='#daeafb',GradientType=0 );
  border: 0;
  border-bottom: 3px solid #aac3da;
  text-shadow: none;
  color: #192734;
}
button.btn-power {
  width: 46px;
  height: 46px;
  display: inline-block;
  padding: 0 9px;
  border-radius: 50%;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#55697c+0,3d5163+50,4e657b+100 */
  background: #55697c; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #55697c 0%,
    #3d5163 50%,
    #4e657b 100%
  ); /* FF3.6-15 */
svg.iconify.iconify--fa {
    width: 24px;
    height: 24px;
}
  background: -webkit-linear-gradient(
    top,
    #55697c 0%,
    #3d5163 50%,
    #4e657b 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #55697c 0%,
    #3d5163 50%,
    #4e657b 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#55697c', endColorstr='#4e657b',GradientType=0 ); /* IE6-9 */
  color: #edd6af;
  border: 2px solid #edd6af;
  text-align: center;
}
.header-bottom {
  background: #9b8972;
  background: -moz-linear-gradient(top, #9b8972 0%, #c6b69c 50%, #9b8972 100%);
  background: -webkit-linear-gradient(
    top,
    #9b8972 0%,
    #c6b69c 50%,
    #9b8972 100%
  );
  background: linear-gradient(to bottom, #9b8972 0%, #c6b69c 50%, #9b8972 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b8972', endColorstr='#9b8972',GradientType=0 );
  height: 6px;
  box-shadow: 0px 2px 2px 1px rgb(0 0 0 / 58%);
}
.me-8 {
  margin-right: 32px;
}