.home {
  height: 100vh;
  width: 100%;
  
  // width: 98vw;
  .roadmap {
    $roadmap-border: 10px solid #000000;
    display: grid;
    border-top: $roadmap-border;
    border-left: $roadmap-border;
    grid-template:
      "breadPlate breadPlate bigRoad bigRoad"
      "breadPlate breadPlate bigEyeBoy bigEyeBoy"
      "breadPlate breadPlate smallRoad cockroachPig";
  }
}
