.grid {
  $grid-border: 1px solid #dddd;

  display: grid;
  grid-template-columns: 1fr;
  height: 100%;
  border: $grid-border;
  grid-auto-rows: 1fr;

  .grid__row {
    display: flex;
    height: 100%;

    &:not(:last-child) {
      border-bottom: $grid-border;
    }

    .grid__col {
      border-bottom: $grid-border;

      min-height: 52px;
      min-width: 51.5px;
      max-height: 52px;
      max-width: 51.5px;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      span {
        font-size: pxToRem(13);
        margin-bottom: 5px;
      }

      small {
        font-size: pxToRem(10);
      }

      &:not(:last-child) {
        border-right: $grid-border;
      }

      * {
        line-height: 1;
      }
    }
  }
}
.banker {
  padding-top: 2px;
  display: inline-block;
  // position: relative;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  border: 3px solid #ff3019;
  background: #fff;
  color: #ff3019;
  border-radius: 50%;
  text-align: center;
  // line-height: 37px;
  // font-size: 28px;
  // font-weight: bold;
  // box-shadow: inset 0px -5px 5px rgb(0 0 0 / 22%);
}
.tie {
  padding-top: 2px;
  display: inline-block;
  // position: relative;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  border: 3px solid #08c418;
  background: #fff;
  color: #08c418;
  border-radius: 50%;
  text-align: center;
  // line-height: 37px;
  // font-size: 28px;
  // font-weight: bold;
  // box-shadow: inset 0px -5px 5px rgb(0 0 0 / 22%);
}
.player {
  padding-top: 2px;
  display: inline-block;
  // position: relative;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  border: 3px solid #0059ff;
  background: #fff;
  color: #0059ff;
  border-radius: 50%;
  text-align: center;
  line-height: 32px;
  font-size: 28px;
  font-weight: bold;
  // box-shadow: inset 0px -5px 5px rgb(0 0 0 / 22%);
}
.tie p,
.player p,
.banker p {
  line-height: 36px !important;
}
.set-to-middle {
  top: 50%;
}
.left {
  left: 51%;
  transform: translate(-50px, -50px);
}
.right {
  right: 33%;
  transform: translate(-50px, -50px);
}
div.border-black {
  position: relative;
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.animate-pulse-faster {
  animation: pulse 0.5s infinite;
}
