.grid {
  $grid-border: 1px solid #dddd;

  display: grid;
  // grid-template-columns: 1fr;
  height: 100%;
  border: $grid-border;
  // grid-auto-rows: 1fr;

  .grid__row_diverse_road {
    display: flex;
    height: 100%;

    &:not(:last-child) {
      border-bottom: $grid-border;
    }
    @for $i from 1 through 25 {
      // Remove border-bottom of the even rows
      &:nth-child(#{$i}) {
        @if $i % 2 == 1 {
          border-bottom: none;
        }
      }
    }
    .grid__col__small_road {
      // padding: 5px;
      height: 2.2vh;
      // width: 1.1vw;
      max-width: calc(48/2);
      min-width: calc(48/2);
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      span {
        font-size: pxToRem(13);
        margin-bottom: 5px;
      }

      small {
        font-size: pxToRem(10);
      }

      &:not(:last-child) {
        border-right: $grid-border;
      }
      @for $i from 1 through 999 {
        // Remove border-right of the even columns
        &:nth-child(#{$i}) {
          @if $i % 2 == 1 {
            border-right: 1px solid #fff;
          }
        }
      }
      * {
        line-height: 1;
      }
    }
  }
}
.banker-fill-small-road {
  display: block;
  position: relative;
  width: 16px;
  height: 16px;
  /* margin: 0 auto; */
  background: #ff3019;
  background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%);
  background: -webkit-linear-gradient(top, #ff3019 0%, #cf0404 100%);
  background: linear-gradient(to bottom, #ff3019 0%, #cf0404 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 );
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 28px;
  font-weight: bold;
  // box-shadow: inset 0px -3px 3px rgb(0 0 0 / 22%);
}
.player-fill-small-road {
  display: block;
  position: relative;
  width: 16px;
  height: 16px;
  background: rgb(0, 168, 252); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(0, 168, 252, 1) 0%,
    rgba(0, 89, 255, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(0, 168, 252, 1) 0%,
    rgba(0, 89, 255, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(0, 168, 252, 1) 0%,
    rgba(0, 89, 255, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a8fc', endColorstr='#0059ff',GradientType=0 ); /* IE6-9 */
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 28px;
  font-weight: bold;
  // box-shadow: inset 0px -3px 3px rgb(0 0 0 / 22%);
}
.red-slash,
.blue-slash {
  position: relative;
  width: 0.5vw;
  height: 2vh;
}

.red-slash span.slash {
  background: #ff3019; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #ff3019 0%,
    #cf0404 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #ff3019 0%,
    #cf0404 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #ff3019 0%,
    #cf0404 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
}
.blue-slash span.slash {
  background: rgb(0, 168, 252); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(0, 168, 252, 1) 0%,
    rgba(0, 89, 255, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(0, 168, 252, 1) 0%,
    rgba(0, 89, 255, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(0, 168, 252, 1) 0%,
    rgba(0, 89, 255, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a8fc', endColorstr='#0059ff',GradientType=0 ); /* IE6-9 */
}
.red-slash span.slash,
.blue-slash span.slash {
  position: absolute;
  width: 0.2vw;
  height: 2.5vh;
  border-radius: 15px;
  transform: rotate(45deg);
  left: 40%;
}
.set-to-middle {
  top: 50%;
}
.left {
  left: 45%;
  transform: translate(-40px, -40px);
}
.right {
  right: 30%;
  transform: translate(-40px, -40px);
}

.cockroach .left {
  left: 45%;
  transform: translate(-40px, -40px);
}
.cockroach .right {
  right: 30%;
  transform: translate(-40px, -40px);
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.animate-pulse-faster {
  animation: pulse 0.5s infinite;
}
